#contact-sec {
  height: auto;
  margin-top: 5%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  padding: 0 7%;
}

.contact-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 3%;
  gap: 20px;
}

.email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkedin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 83%;
}

.at,
.link {
  margin-right: 1%;
}

.email,
.linkedin {
  color: rgb(90, 90, 90);
}

.email:hover,
.linkedin:hover {
  text-decoration: none;
  color: white;
}

.contact-form {
  display: flex;
  align-items: center;
  padding: 5% 10%;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(90, 90, 90);
  flex-direction: column;
  text-align: center;
  width: 42vw;
  margin-bottom: 3%;
  margin-left: 5%;
}

.contact-form ::placeholder {
  color: rgb(90, 90, 90);
  font-size: 15px;
}

.contact-header {
  display: grid;
  place-items: center;
  margin: 20px;
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 10%;
  font-weight: 700;
}

label {
  display: none;
}

.contact-input {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5% 10%;
  border: none;
  outline: none;
  text-align: center;
}

.contact-input::placeholder {
  color: rgb(90, 90, 90);
}

.submit-button {
  transition-duration: 0.4s;
  color: rgb(90, 90, 90);
}

.submit-button:hover {
  background-color: #a4daa4;
  color: white;
  border: none;
}

.footer {
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: center;
  padding: 0 3%;
  margin: 0 auto;
  width: 100%;
  height: 5vw;
  min-width: 474px;
}

.footer-name {
  font-size: 1.5rem;
  color: rgb(90, 90, 90);
  width: 100%;
  font-weight: bold;
}

.footer-icons a {
  font-size: 18px;
  display: block;
  font-weight: 200;
  margin: 5px;
  flex-direction: row;
  color: rgb(90, 90, 90);
}

.footer-icons {
  display: flex;
  flex-direction: row;
  color: rgb(90, 90, 90);
  margin-bottom: 2%;
  top: 30%;
  position: relative;
  gap: 10px;
}

.footer-icons a:hover {
  color: #a4daa4;
  transition: 0.3s ease-in-out;
}

.ghub {
  margin-right: 2%;
}

@media screen and (max-width: 1600px) {
  .contact-form {
    margin-left: 4%;
  }
}

@media screen and (max-width: 1200px) {
  .call h2 {
    font-size: 1.3rem;
  }

  .contact-form {
    width: 35vw;
  }
}

@media screen and (max-width: 990px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin-left: 0;
  }
}

@media screen and (max-width: 971px) {
  .mail {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-form {
    width: 70vw;
    margin: 5% 0;
  }
}

@media screen and (max-width: 912px) {
  .contact-input {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .contact-header {
    padding-bottom: 10%;
  }

  .email {
    font-size: 1.8rem;
  }

  .contact-form {
    margin: 10% 0;
    width: 80vw;
  }

  .contact-input {
    width: 60vw;
  }

  .footer {
    height: 5vh;
  }

  .footer-icons {
    margin-right: 1%;
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 400px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact-header {
    padding-bottom: 4%;
  }

  .email {
    font-size: 1.5rem;
    text-align: center;
  }

  .email a:hover {
    text-decoration: none;
    color: white;
  }

  .contact-form {
    width: 320px;
    margin: 10% 0;
  }

  .contact-input {
    width: 250px;
  }

  .submit-button {
    background: #a4daa4;
    color: rgb(90, 90, 90);
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 80vw;
    margin-top: 5%;
  }

  .contact-input {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: 90%;
  }

  .footer-name {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 414px) {
  .email-conatiner {
    display: flex;
    flex-direction: column;
  }

  .footer {
    height: 8vh;
    margin-top: 4%;
  }

  .footer-name {
    font-size: 1.3rem;
    margin-top: 7%;
  }

  .footer-icons {
    top: 10%;
    margin-right: 13%;
  }
}

@media screen and (max-width: 375px) {
  .email-conatiner {
    display: flex;
    flex-direction: column;
  }

  .email {
    font-size: 1.5rem;
  }

  .footer {
    height: 7vh;
  }

  .footer-name {
    font-size: 1.1rem;
    margin-top: 7%;
  }

  .footer-icons {
    top: 10%;
    margin-right: 22%;
  }
}

@media screen and (max-width: 360px) {
  .email-conatiner {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: row;
    height: 8vh;
  }

  .footer-name {
    font-size: 1.07rem;
  }

  .footer-icons {
    top: 10%;
    margin-right: 25%;
  }
}

@media screen and (max-width: 300px) {
  .email {
    font-size: 1.4rem;
  }

  .contact-form {
    width: 85vw;
  }

  .contact-input {
    width: 70vw;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer-name {
    margin-top: 7%;
    font-size: 0.8rem;
  }

  .footer-icons {
    margin-right: 38%;
    margin-top: 2%;
  }
}
