@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a4daa4;
  font-family: "Roboto Mono", sans-serif;
  color: rgb(90, 90, 90);
  overflow-x: hidden;
  font-weight: 600;
}

body h1,
body h2,
body h3 {
  font-weight: 800;
}

#landing {
  height: 100vh;
  display: grid;
  place-items: center;
  padding-bottom: 5%;
}

.landing-img {
  object-fit: cover;
  height: 100%;
  width: 45vw;
}

.landing-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: 700;
  margin-top: 5%;
  font-size: 2rem;
}

.line {
  position: relative;
  top: 50%;
  width: 16em;
  font-weight: 700;
  margin: 0 auto;
  border-right: 2px solid rgba(90, 90, 90, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typing-effect {
  animation: typewriter 5s steps(31) 0.5s infinite alternate,
    blinkTextCursor 500ms steps(31) infinite alternate;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(90, 90, 90, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  #landing {
    height: 100%;
  }

  .landing-img {
    height: 58vh;
    margin: 13% 0;
  }

  .landing-header {
    font-size: 5rem;
    margin-bottom: 3%;
  }

  .landing-description {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  #landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }

  .landing-img {
    width: auto;
    height: 60vh;
  }

  .landing-header {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  #landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
  }

  .landing-img {
    width: auto;
    height: 60vh;
    margin: 8% 0;
  }

  .landing-header {
    font-size: 4rem;
  }

  .landing-description {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 540px) {
  .landing-img {
    width: auto;
    height: 55vh;
    margin: 9% 0;
  }

  .landing-header {
    font-size: 3rem;
  }
  
  .landing-description {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 414px) {
  #landing {
    gap: 5px;
  }

  .landing-img {
    margin: 22% 0;
  }

  .landing-header {
    font-size: 2rem;
    margin-bottom: 2%;
  }

  .landing-description {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  .landing-img {
    margin: 31% 0;
    height: 50vh;
  }

  .landing-header {
    margin-bottom: 6%;
  }

  .landing-description {
    font-size: 1.2rem;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 360px) {
  #landing {
    display: flex;
    gap: 20px;
  }

  .landing-img {
    margin: 18% 0;
  }

  .landing-header {
    margin-bottom: 3%;
  }
  .landing-description {
    font-size: 1.1rem;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 320px) {
  .landing-header {
    margin-bottom: 2%;
    font-size: 1.5rem;
  }

  .landing-description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  #landing {
    display: flex;
    gap: 20px;
  }

  .landing-img {
    width: auto;
    height: 50vh;
  }

  .landing-header {
    margin-top: 7%;
  }

  .landing-description {
    font-size: 0.97rem;
  }
}

@media screen and (max-width: 280px) {
  .landing-img {
    margin: 25% 0;
  }

  .landing-description {
    font-size: 0.9rem;
}
}
